@import "tailwindcss";

:root {
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
    font-family: inherit;
}