@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;900&display=swap');
@import "tailwindcss";

/* dark-charcoal : #191919 */
/* heritage : #EC2088 */
/* purple : #8A2890 */
/* sky : #12B1E7 */
/* sun : #FDD40E */
:root {
    font-family: 'Figtree', sans-serif;
}

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
    font-family: inherit;
}